.App {
  text-align: center;
}

.logo {
  color: rgb(240, 121, 157);
  text-align: center;
      font-size: 60px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bolder;
      background-color: seashell;
      padding: 10px;  
}



  /******* HAMBURGUER  **********/
  .nav-box {
    background-color: lightseagreen;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url(./Assets/mainmobile.jpg);
    height: 500px;
    background-position: top; 
    color:rgb(250, 245, 247);
    width: 100%;
  }
  .menuIcon {
    height: 20px;
    padding: 10px;
  }
  

  /*******  NAVBAR  *************/
  .hide {
    display: none;
  }
  
  .links-box{ 
    margin-right: 0;
   
    
    
  }
  .link {
    width: 90%;
    color: rgb(240, 91, 136);
    text-align: right;
    margin: 20px;

  } 
  a {
    font-stretch: extra-expanded; 
    font-size: larger;
    color: rgb(240, 121, 157);
    background-color: seashell;
    padding: 5px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(218, 47, 98);
    text-decoration: none;

  }
 .cover {
   margin: 0 auto;
   width: 100%;
 }
  
 .container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tr"
    "br";
}
.tl { grid-area: tl; }
.tr { grid-area: tr; }
.bl { grid-area: bl; }
.br { grid-area: br; }

  
  @media only screen and (min-width: 450px) {
    
    .container {  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "tl tr"
        "bl br";
    }
    
    .tl { grid-area: tl; }
    
    .tr { grid-area: tr; }
    
    .bl { grid-area: bl; }
    
    .br { grid-area: br; }
    
    
    .links-box{
      font-family: 'Londrina Solid';
      margin-right: 0;
     
    }
    p.logo {
      color:rgb(241, 93, 143);
      text-align: right;
      font-size: 60px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 50px;
      background-color: unset;
    }
  
  .link {
      width: 90%;
      padding: 10px;
      margin: 5px;
  }
    a{   
      font-stretch: extra-expanded; 
      font-size: larger;
      color: rgb(240, 121, 157);
      background-color: seashell;
      padding: 5px;
      text-decoration: none;
    }
    .menuIcon{
      display: none;
    }
    .hide {
      display: inline;
    }
    .slide-box{
      height: auto;
      width: 100%;
    }
    .cover {
      background-size: cover;
        }
        .nav-box {
          background-color: rgb(41, 133, 161);
          height: auto;
          margin: 0 auto;
        background-image: url(./Assets/main.jpg);
        background-size: cover;
        height: 600px;
        background-position: top; 
        }
       
  }

    /*******  TRATAMIENTOS *************/
    .grid-tratamientos {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 20px 20px;
      grid-template-areas:
        ". ."
        ". ."
        ". .";
    }
    .box {
      width: 500px;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
      background: linear-gradient(-45deg, #fce5ec, #F0799D, #e73c7e, #fce5ec, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      color: rgb(7, 7, 7);
      border-radius: 120px;
    }
    .box-v {
      width: 500px;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
      background: linear-gradient(-145deg, #fce5ec, #e0c2cb, #e4749f, #fce5ec, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      color: rgb(5, 5, 5);
      border-radius: 120px;
    }
    @media only screen and (max-width: 450px) {
      .box {
        width: 87%;
      }
      .box-v {
        width: 87%;
      }
      .text {  
        text-align: right;  
        width: 100%;
    }
    .text-v {  
      text-align: right;  
      width: 100%;
  }
  .nn {
    background-color: lightseagreen;
  }
    }
    
    .title {
      text-align: center;
      margin-left: 15px;
      padding: 10px;
      font-family: 'Londrina Solid';
      margin-top: 20px;
    }
    .text-v{  
      text-align: center;
      font-family: 'Londrina Solid';
            width: 90%;

  }
  .text {  
    font-family: 'Londrina Solid';
    text-align: center;
       
    width: 90%;
}
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
      
    .promo-title {
      text-align: center;
      font-family: 'Londrina Solid';
      color:rgb(5, 5, 5)
    }
    .promo-title-box {
      width: 80%;
      margin: 0 auto;
      border-bottom: 3px solid rgb(240, 91, 136);

    }

    /*********  PROMOCIONES *********/
    .call-outs {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-shrink: 1;
        justify-content: center;
        margin: 40px;
    }
    
    .call-out {
      position: relative;
      margin: .5em;
      width: 100%;
      max-width: 250px;
      text-align: center;	
        overflow: hidden;   
    }
    
    /* display .call-out as 1:1 ratio */
    .call-out:before {
      display: block;
      content: '';
      margin-top: 100%;
    }
    
    .links {
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    
    .links a {	
      left: 0;
      right: 0;
      color: #FFF;
      padding: .5em 0;
    }
    
    .links a:visited,
    .links a:active,
    .links a:hover {
      color: #FFF;
    }
    
    @media screen and (min-width: 700px) {
      .call-out {
        width: 47%;
        margin: .5em 1em;
      }
    }
    
    @media screen and (min-width: 960px) {
      .call-outs {
        justify-content: space-between;
      }
      .call-out {
        width: 23.5%;
        margin: 0;
      }
      
    }
    
    .icons {
        width: 100%;
        border-radius: 120px;
    }
    
    .cardImg {
      width:200px;
      height:200px;
      top: 10px;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    @media screen and (min-width: 600px) {
      .flip-card {
        background-color: transparent;
        width: 210px;
        height: 220px;
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 100px;	
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        }
      }
    
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
      background-color: transparent;
      width: 210px;
      height: 220px;
      margin: auto;
      margin-top: 50px;
      border-radius: 100px;	
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
      color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: white;
        transform: rotateY(180deg);
        border-radius: 120px;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
      
    
     .gridOne {
        display: grid;
        width: 98%;
        margin-left: 15px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    
      }

      .bono {
        color: rgb(35, 36, 35);
        font-weight: bold;
        font-family: 'Londrina Solid';
        font-size: larger;
      }
      .sesiones {
        color: rgb(250, 245, 247);
        font-family: 'Lobster Two', cursive;
        font-size: large;
      }
      .precio {
        color: black;
        font-family: 'Londrina Solid';
        font-size: large;
      }

      /******* contact **********/
      .grid-container_Contact {
        margin: 0 auto;
        margin-top: 50px;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        text-align: start;
    }
    .contact {   
        padding: 20px;
        font-size: 18px;
        margin-top: 20px;
    }
    
    .fa-envelope-open {
        height: 50px;
        width: 50px;
        color: rgb(250, 92, 145);
    }
    .fa-facebook{
        height: 50px;
        width: 50px;
        color: rgb(250, 92, 145);
    }
    .fa-instagram {
        height: 50px;
        width: 50px;
        color: rgb(250, 92, 145);
    }
     .contactLink {
         color: rgb(95, 94, 94);
         text-decoration: blueviolet;
     }
    
     @media only screen and (min-width: 600px) {
         .grid-container_Contact{
             text-align: center;
             margin: 0 auto;
         }
     }